body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav ul li a:hover {
    background-color: #575757;
}

nav ul li a.active {
    background-color: #575757;
}

section {
    padding: 2em;
    border-bottom: 1px solid #ccc;
}

section h2 {
    margin-top: 0;
}

.dash-sub {
    padding: 2em;
}

/* Table Style */

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 0.5em;
}

table th {
    background-color: #f9f9f9;
}

/* Form Style */